<h1>Editing Admin User Permission</h1>

<%= render 'form', admin_user_permission: @admin_user_permission %>

<%= link_to 'Show', @admin_user_permission %> |
<%= link_to 'Back', user_permissions_path %>
