.calendar-section { 
    .sidebar {   
        @include span-columns(12); 
    }
    .calendar-wrapper{ 
        @include span-columns(12); 
    }

    @include breakpoint(tablet){ 
        .sidebar { 
            @include span-columns(4); 
        }
        .calendar-wrapper{ 
            @include span-columns(8); 
            @include omega(); 
        }
    }
}

.sidebar { 
    ul { 
        @include span-columns(12);
        li {
            @include span-columns(12); 
            padding:5px;
            ul { 
                @include span-columns(11);
                @include shift(1); 
                @include omega();
            }
        }         
    }    
}

.simple-calendar { 
    td { 
        position:relative; 
    }

    td.past.prev-month, td.next-month, td.future.prev-month { 
        background: rgba($pms432, .5);

        .date, .opentime, .closetime, .comments { 
           display:none;
        }
    }   

    .prev-month-button, .next-month-button { 
        @include span-columns(1);
        padding:8px; 
    }
    .next-month-button { 
        @include omega();
        text-align:right;
    }
    .calendar-title { 
        @include span-columns(10); 
        font-size: 1.25em; 
        font-weight:bold;
        text-align:center; 
    }
}



.calendar-square { 
    @include span-columns(12); 
    padding: 20px 0 0;

    .date { 
        position:absolute; 
        color: $pms300;
        font-size: .75em;
        left:10px; 
        top: 5px;
        z-index:1;  
    }

    .opentime, .closetime, .comments { 
        font-size:12px;
        padding:5px;
        border-bottom:1px solid #eee;
        &:last-of-type { border:none; }        
    }

    .label { font-weight:bold; }
}