.stacktable {
  &.small-only{
    display:table;
    margin:0;
    @include media(tablet){
      display:none;
    }
    &:nth-of-type(even){
      background:lighten($light-gray,4%);
    }
    .st-key { padding-left:20px; font-weight:bold;}
  }

  &.large-only{
    display:none;
    @include media(tablet){
      display:table;
    }
  }
}

tr {
  @include media(tablet){
    &:nth-of-type(even){
      background:lighten($light-gray,4%);
    }
  }
}
