/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "normalize/import-now";
@import "bourbon";
@import "neat";
@import "neat-helpers";

@import "pickadate/default";
@import "pickadate/default.date";
@import "pickadate/default.time";

html, body {
  @include span-columns(12);
  height:100%;
  background-color: #fff;
  color: #333;
  display: block;
  padding:0;
  margin:0;
  font-family: "Helvetica Neue", "Helvetica","Roboto", Arial, sans-serif;
}

main {
  height:100%;
  padding:20px;
  margin-bottom:-35px; // equals footer height
  &:after {
    height:35px; // equals footer height
  }
}
