@import "bourbon";
@import "neat";

$blue: #002855;
$gold: #EAAA00;
$border: 2px solid #e1e1e1;
$grayText: #aaa;
$header-background: #eee;

header{
  @include span-columns(12);
  background: $header-background;
  padding: 10px;
  border-bottom: $border;
  color: $grayText;

  h1 { font-size:12px; margin:0; padding:0;}
}
