<p id="notice"><%= notice %></p>



<div class="header">
  <h1> Welcome! </h1>

  <div class="hero-text">
    <p> This tool was created to manage various tools used daily at the library! This tool is also open source, check it out on github [github link here!]. </p>
  </div>

  <div class="admin-login">
      link to admin cas login here
  </div>
</div>


<main class="tool-select">
  <div class="tool">
    <h2> Hours </h2>
    <p> Description and image here. </p>
  </div>

  <div class="tool">
    <h2> Hours </h2>
    <p> Description and image here. </p>
  </div>

  <div class="tool">
    <h2> Hours </h2>
    <p> Description and image here. </p>
  </div>
</main>
