<p id="notice"><%= notice %></p>



<main class="header">
  <h1> Welcome! </h1>

  <div class="hero-text">
    <p> This tool was created to manage various tools used daily at the library! This tool is also open source, check it out on github [github link here!]. </p>
  </div>

  <div class="admin-login">
      link to admin cas login here
  </div>
</main>


<aside class="wvu-triptych">
	  <div class="wvu-triptych__container">
	    <div class="wvu-spotlight">
	      <div class="wvu-spotlight__copy wvu-text--center">
	        <h2 class="wvu-shout wvu-shout--medium-shout">200,000</h2>
<p>We're worldwide. We have more than 200,000 alumni living in 135 nations.
</p>
	      </div>
	    </div>
	    <!-- /.wvu-spotlight -->
	    <div class="wvu-spotlight">
	      <div class="wvu-spotlight__copy wvu-text--center">
	        <h2 class="wvu-shout wvu-shout--medium-shout">341</h2>
<p>We offer 341&nbsp;majors at the bachelor’s, master’s, doctoral and professional levels.</p>
	      </div>
	    </div>
	    <!-- /.wvu-spotlight -->
	    <div class="wvu-spotlight omega">
	      <div class="wvu-spotlight__copy wvu-text--center">
	        <h2 class="wvu-shout wvu-shout--medium-shout">600</h2>
<p>Our career fairs attracted more than 600 employers last year.</p>
	      </div>
	    </div>
	    <!-- /.wvu-spotlight -->
	  </div>
	</aside>